if ( regmatch ( $line_00, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_00, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_01, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_01, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_02, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_02, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_03, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_03, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_04, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_04, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_05, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_05, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_06, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_06, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_07, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_07, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_08, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_08, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_09, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_09, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_10, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_10, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_11, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_11, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_12, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_12, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_13, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_13, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_14, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_14, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_15, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_15, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_16, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_16, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_17, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_17, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_18, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_18, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_19, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_19, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_20, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_20, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_21, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_21, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_22, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_22, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_23, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_23, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_24, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_24, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_25, "Equipment_Ref" ) ) { 
$Equipment_Ref= extract($line_25, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_26, "Equipment_Ref" ) ) {
$Equipment_Ref= extract($line_26, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_27, "Equipment_Ref" ) ) {
$Equipment_Ref= extract($line_27, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_28, "Equipment_Ref" ) ) {
$Equipment_Ref= extract($line_28, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_29, "Equipment_Ref" ) ) {
$Equipment_Ref= extract($line_29, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_30, "Equipment_Ref" ) ) {
$Equipment_Ref= extract($line_30, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_31, "Equipment_Ref" ) ) {
$Equipment_Ref= extract($line_31, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_32, "Equipment_Ref" ) ) {
$Equipment_Ref= extract($line_32, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_33, "Equipment_Ref" ) ) {
$Equipment_Ref= extract($line_33, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_34, "Equipment_Ref" ) ) {
$Equipment_Ref= extract($line_34, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_35, "Equipment_Ref" ) ) {
$Equipment_Ref= extract($line_35, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_36, "Equipment_Ref" ) ) {
$Equipment_Ref= extract($line_36, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_37, "Equipment_Ref" ) ) {
$Equipment_Ref= extract($line_37, "Equipment_Ref=(.*)")
} else if ( regmatch ( $line_38, "Equipment_Ref" ) ) {
$Equipment_Ref= extract($line_38, "Equipment_Ref=(.*)")
}   
